<header class="header">
  <img
    src="./assets/images/virentia-logo.svg"
    alt="logo virentia"
    class="header__img"
  />
  <nav>
    <ul class="header__menu">
      <li>
        <a class="header__menu__link" href="#" target="_blank" title="item1"
          >Item 1</a
        >
      </li>
      <li>
        <a class="header__menu__link" href="#" target="_blank" title="item2"
          >Item 2</a
        >
      </li>
      <li>
        <a class="header__menu__link" href="#" target="_blank" title="item3"
          >Item 3</a
        >
      </li>
      <li>
        <a class="header__menu__link" href="#" target="_blank" title="item4"
          >Item 4</a
        >
      </li>
    </ul>
  </nav>
</header>
