<main class="main">
  <nav class="main__nav">
    <ul class="sideMenu">
      <li>
        <a href="#" title="side menu item 1" class="sideMenu__link">item 1</a>
      </li>
      <li>
        <a href="#" title="side menu item 2" class="sideMenu__link">item 2</a>
      </li>
      <li>
        <a href="#" title="side menu item 3" class="sideMenu__link">item 3</a>
      </li>
      <li>
        <a href="#" title="side menu item 4" class="sideMenu__link">item 4</a>
      </li>
      <li>
        <a href="#" title="side menu item 5" class="sideMenu__link">item 5</a>
      </li>
      <li>
        <a href="#" title="side menu item 6" class="sideMenu__link">item 6</a>
      </li>
      <li>
        <a href="#" title="side menu item 7" class="sideMenu__link">item 7</a>
      </li>
      <li>
        <a href="#" title="side menu item 8" class="sideMenu__link">item 8</a>
      </li>
    </ul>
  </nav>
  <section class="main__content">
    <div class="content__hero">
      <img src="./assets/images/virentia3.jpg" alt="" />
    </div>
    <aside class="content__aside">
      <img
        src="./assets/images/virentia-burger.jpg"
        alt=""
        class="content__aside--img"
      />
      <p class="content__aside--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolore
        ad sed? Nesciunt, eos doloremque sunt tempore, deleniti assumenda,
        facere aspernatur aliquid delectus obcaecati quis aliquam fugit.
        Deleniti, adipisci facere.
      </p>
      <a href="#" title="Read full story" class="content__aside--link"
        >Full story</a
      >
    </aside>
    <aside class="content__aside">
      <img
        src="./assets/images/virentia-saussages-doypack.jpg"
        alt=""
        class="content__aside--img"
      />
      <p class="content__aside--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolore
        ad sed? Nesciunt, eos doloremque sunt tempore, deleniti assumenda,
        facere aspernatur aliquid delectus obcaecati quis aliquam fugit.
        Deleniti, adipisci facere.
      </p>
      <a href="#" title="Read full story" class="content__aside--link"
        >Full story</a
      >
    </aside>
    <aside class="content__aside">
      <img
        src="./assets/images/virentia-nuggets.jpg"
        alt=""
        class="content__aside--img"
      />
      <p class="content__aside--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolore
        ad sed? Nesciunt, eos doloremque sunt tempore, deleniti assumenda,
        facere aspernatur aliquid delectus obcaecati quis aliquam fugit.
        Deleniti, adipisci facere.
      </p>
      <a href="#" title="Read full story" class="content__aside--link"
        >Full story</a
      >
    </aside>
  </section>
</main>
