// fonts
$textFont: 'Lato', sans-serif;
$sideMenuFont: 'Merriweather', serif;

// colors
$neutral: #54585a;
$backgroundNeutral: #f1f1f1;
$backgroundLight: #efd7af;
$brandDark: #006633;
$brandLight: #95c11f;
$brandSecondary: #a84758;
$brandSecondaryDark: #572932;

// font-sizes
$defaultFontSize: 16;
$fontSmall: rem(12);
