* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

ul,
li {
  list-style-type: none; }

a {
  text-decoration: none; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main__nav {
    width: 100%; }
    .main__nav .sideMenu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: "Merriweather", serif;
      padding: 0.9375rem 2.1875rem;
      background-color: #a84758; }
      @media all and (min-width: 768px) {
        .main__nav .sideMenu {
          flex-direction: column;
          align-items: flex-start;
          background-color: white; }
          .main__nav .sideMenu li {
            border-bottom: 0.0625rem dotted #a84758;
            width: 100%; } }
      .main__nav .sideMenu__link {
        color: white;
        padding: 1.125rem 1.5625rem;
        display: block;
        font-size: rem(12); }
        @media all and (min-width: 768px) {
          .main__nav .sideMenu__link {
            color: #a84758; } }
      .main__nav .sideMenu__link:hover {
        color: #006633; }
    @media all and (min-width: 768px) {
      .main__nav {
        width: 30%;
        height: 100vh;
        align-self: flex-start; } }
    @media all and (min-width: 1200px) {
      .main__nav {
        width: 20%; } }
  @media all and (min-width: 768px) {
    .main {
      flex-direction: row;
      justify-content: center;
      align-items: center; } }
  .main__content {
    margin-top: 1.875rem; }
    .main__content--hero {
      background-color: #f1f1f1;
      padding: 1.5625rem; }
    @media all and (min-width: 768px) {
      .main__content {
        width: 70%; } }
    @media all and (min-width: 1200px) {
      .main__content {
        width: 80%; } }
    .main__content--aside {
      text-align: center;
      display: flex;
      flex-direction: column; }
      @media all and (min-width: 768px) {
        .main__content--aside {
          flex-direction: row;
          justify-content: space-between; } }

.aside {
  font-family: "Lato", sans-serif;
  line-height: 1.375rem;
  padding: 1.875rem;
  margin: 2.1875rem 0;
  background-color: #f1f1f1; }
  @media all and (min-width: 768px) {
    .aside {
      width: 30%; } }
  .aside__img {
    margin-bottom: 1.25rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .aside__text {
    margin-bottom: 1.25rem; }
  .aside__link {
    margin: 0.625rem 0;
    padding: 0.3125rem 1.25rem;
    background-color: #a84758;
    color: white;
    border-radius: 0.9375rem;
    text-align: left;
    display: inline-block; }
  .aside__link:hover {
    background-color: #95c11f;
    color: #006633; }

.smallPic {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
  @media all and (min-width: 768px) {
    .smallPic {
      display: none; } }

.bigPic {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: none; }
  @media all and (min-width: 768px) {
    .bigPic {
      display: block; } }

.header {
  font-family: "Lato", sans-serif;
  line-height: 1.25rem;
  border-bottom: 0.125rem solid #006633; }
  .header__content {
    padding: 1.875rem 1.5625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media all and (min-width: 768px) {
      .header__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; } }
  .header__img {
    width: 18.75rem;
    min-width: 9.375rem;
    display: inline; }
  .header__nav {
    margin-top: 1.5625rem; }
  .header__menu {
    display: flex;
    align-items: center; }
    .header__menu--link {
      color: #006633;
      padding: 0.3125rem 0.625rem; }
      @media all and (min-width: 768px) {
        .header__menu--link {
          padding: 0.3125rem 1.25rem; } }
    .header__menu--link:hover {
      color: white;
      background-color: #95c11f; }

.footer {
  padding: 0.9375rem 0;
  font-family: "Lato", sans-serif;
  line-height: 1.25rem;
  width: 100%;
  border-top: 0.125rem solid #006633; }
  .footer__content {
    margin: 0 0.9375rem;
    padding: 0.9375rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media all and (min-width: 768px) {
      .footer__content {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between; } }
  .footer__img {
    width: 9.375rem;
    min-width: 4.6875rem;
    display: inline;
    margin-top: 1.5625rem; }
  @media all and (min-width: 768px) {
    .footer__nav {
      width: 60%; } }
  .footer__menu {
    display: flex;
    color: #006633;
    align-items: center; }
    .footer__menu--link {
      color: #006633;
      padding: 0 0.3125rem; }
      @media all and (min-width: 768px) {
        .footer__menu--link {
          padding: 0 0.9375rem; } }
    .footer__menu--link:hover {
      color: #95c11f; }

/*# sourceMappingURL=main.css.map */
