* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

ul,
li {
  list-style-type: none; }

a {
  text-decoration: none; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main__nav {
    background-color: #a84758;
    width: 100%; }
    .main__nav .sideMenu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: "Merriweather", serif;
      padding: 0.9375rem; }
      @media all and (min-width: 768px) {
        .main__nav .sideMenu {
          flex-wrap: no-wrap; } }
      .main__nav .sideMenu__link {
        color: white;
        padding: 0.5rem 1.5625rem;
        display: block;
        font-size: rem(12); }
      .main__nav .sideMenu__link:hover {
        color: #572932; }
  .main__content--aside {
    width: 23.4375rem; }
  .main__content--hero {
    background-image: url(../../assets/images/virentia3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15.625rem; }

.header {
  font-family: "Lato", sans-serif;
  line-height: 1.25rem; }
  .header__content {
    padding: 1.875rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media all and (min-width: 768px) {
      .header__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; } }
  .header__img {
    width: 18.75rem;
    min-width: 9.375rem;
    display: inline; }
  .header__nav {
    margin-top: 1.5625rem; }
    @media all and (min-width: 768px) {
      .header__nav {
        width: 40%; } }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__menu--link {
      color: #006633;
      padding: 0.3125rem 0.625rem; }
    .header__menu--link:hover {
      color: white;
      background-color: #95c11f; }

.footer {
  padding: 0.9375rem 0;
  background-color: #f1f1f1;
  font-family: "Lato", sans-serif;
  line-height: 1.25rem;
  width: 100%; }
  .footer__content {
    padding: 1.875rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media all and (min-width: 768px) {
      .footer__content {
        flex-direction: row;
        align-items: flex-end; } }
  .footer__img {
    width: 9.375rem;
    min-width: 4.6875rem;
    display: inline;
    margin-top: 1.5625rem; }
  @media all and (min-width: 768px) {
    .footer__nav {
      width: 60%; } }
  .footer__menu {
    display: flex;
    color: #006633;
    align-items: center; }
    .footer__menu--link {
      color: #006633;
      padding: 0 0.3125rem; }
      @media all and (min-width: 768px) {
        .footer__menu--link {
          padding: 0 0.9375rem; } }
    .footer__menu--link:hover {
      color: #95c11f; }

.pageContainer {
  margin: 0 0.9375rem; }
  @media all and (min-width: 768px) {
    .pageContainer {
      margin: 0 2.8125rem; } }
  @media all and (min-width: 1200px) {
    .pageContainer {
      margin: 0 8.75rem; } }
  @media all and (min-width: 1500px) {
    .pageContainer {
      margin: 0 auto;
      max-width: 75rem; } }

/*# sourceMappingURL=main.css.map */
