.footer {
  padding: rem(15) 0;
  font-family: $textFont;
  line-height: rem(20);
  width: 100%;
  border-top: rem(2) solid $brandDark;

  &__content {
    margin: 0 rem(15);
    padding: rem(15) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__img {
    width: rem(150);
    min-width: rem(75);
    display: inline;
    margin-top: rem(25);
  }
  &__nav {
    @include tablet {
      width: 60%;
    }
  }
  &__menu {
    display: flex;
    color: $brandDark;
    align-items: center;
    &--link {
      color: $brandDark;
      padding: 0 rem(5);
      @include tablet {
        padding: 0 rem(15);
      }
    }
    &--link:hover {
      color: $brandLight;
    }
  }
}
