.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__nav {
    width: 100%;
    .sideMenu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: $sideMenuFont;
      padding: rem(35);
      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        & li {
          border-bottom: rem(1) dotted $brandSecondary;
          width: 100%;
        }
      }
      &__link {
        color: $brandSecondary;
        padding: rem(18) rem(25);
        display: block;
        font-size: $fontSmall;
      }
      &__link:hover {
        color: $brandDark;
      }
    }
    @include tablet {
      width: 30%;
      height: 100vh;
      align-self: flex-start;
    }
    @include desktop {
      width: 20%;
    }
  }
  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__content {
    &--aside {
      min-width: rem(375);
    }
    &--hero {
      background-image: url(../../assets/images/virentia3.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: rem(250);
    }
    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 80%;
    }
  }
}
